{{ form_start(form, {'attr': {'id': 'password-reset-request-form'}}) }}
    <div class="field">
        <p class=" subtitle is-6 has-text-left">
            {{ 'forgot_password.instruction'|trans }} :
        </p>
        {{ form_widget(form.email, {'attr': {'class': 'input'}}) }}
        <div class="help is-danger has-text-left">
            {{ form_errors(form.email) }}
            {{ form_errors(form) }}
        </div>
    </div>

    <button type="submit" class="button is-primary" data-trans="{{ 'forgot_password.submitted'|trans }}">
        {{ 'forgot_password.send'|trans }}
    </button>
{{ form_end(form) }}
