{{ form_start(form, {'attr': {'id': 'password-reset-new-form'}}) }}
    <div class="field">
        {{ form_label(form.plainPassword.first, 'Nouveau mot de passe', {'label_attr': {'class': 'label has-text-left'}}) }}
        <div class="control has-icons-left">
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'input', 'placeholder': 'strong password'}}) }}
            <span class="icon is-small is-right">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>
    </div>

    <div class="field">
        {{ form_label(form.plainPassword.second, 'Répétez le nouveau mot de passe', {'label_attr': {'class': 'label has-text-left'}}) }}
        <div class="control has-icons-left">
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'input', 'placeholder': 'repeat it'}}) }}
            <span class="icon is-small is-right">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>
        <div class="help is-danger has-text-left">
            {{ form_errors(form.plainPassword.first) }}
        </div>
    </div>

    <button type="submit" class="button is-large is-primary is-fullwidth">Valider</button>
{{ form_end(form) }}
