{{ form_start(form, {'action': path('comment_new', {'slug': article.slug}), 'attr': {'id': 'comment-form'} }) }}
        {{ form_errors(form) }}

<div class="field">
    {{ form_label(form.content, 'Commentaire', {'label_attr': {'class': 'label'}}) }}
    <div class="control">
        {{ form_widget(form.content, {'attr': {'class': 'textarea'}}) }}
    </div>
</div>

{{ form_rest(form) }}
<button type="submit" class="button is-primary">Poster</button>
{{ form_end(form) }}
