{% extends 'blog/layout-blog.html.twig' %}

{% block body %}
    {% if article.image is not null %}
        <img src="{{ asset(image_article_coverage_display ~ article.image.alt) }}" alt="{{ article.image.alt }}">
    {% endif %}
    <div class="title-tab">
        <h1 class="title is-1">{{ article.title }}</h1>
    </div>
    <p>{{ article.content }}</p>
    <hr>
    <h3 class="title is-3">{{ article.comments|length }} {{ article.comments|length <= 1 ? 'Commentaire' : 'Commentaires' }}</h3>
    {% for comment in article.comments %}
        <div class="comment">
            <strong>{{ comment.user.username }}</strong>
            <p>{{ comment.content }}</p>
        </div>
    {% endfor %}

    <div class="columns">
        <div class="column is-two-fifths">
            <h3 class="title is-3">Postez un commentaire</h3>
            {% if is_granted('ROLE_USER') %}
                {{ render(controller('App\\Controller\\BlogController::commentForm', {'article': article.id})) }}
            {% else %}
                <div class="notification is-primary">
                    Vous devez être connecté pour poster un commentaire. <br>
                    <a href="{{ path('login') }}">Connectez-vous</a> ou <a href="{{ path('registration') }}">inscrivez-vous</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

