<nav class="col-lg-2 d-none d-lg-block sidebar">
    <ul class="nav flex-column nav-pills">
        <li class="nav-item">
            <a href="{{ path('admin-dashboard') }}"
               class="nav-link {{ (app.request.attributes.get('_route') == 'admin-dashboard') ? 'active' : '' }}">DASHBOARD</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('admin-articles-list') }}"
               class="nav-link {{ (app.request.attributes.get('_route') == 'admin-articles-list') ? 'active' : '' }}">ARTICLES</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('logout') }}"
               class="nav-link">DECONNEXION</a>
        </li>
    </ul>
</nav>
