{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div id="bell" class="navbar-item">
        <i class="fa fa-bell-o" aria-hidden="true"></i>
    </div>

    <div class="bell-container">
        <div class="bell-header">
            Notifications
        </div>
        <div class="bell-body">
            <span class="no-notification">Aucune notification</span>
            {#<div class="bell-notification-item pb-10 pt-10 pr-20 pl-15">#}
                {#<i class="fa fa-check-circle bell-notification-icon" aria-hidden="true"></i>#}
                {#<span class="bell-notification-content ml-20"><b>Admin</b> a publié un nouvel article</span>#}
            {#</div>#}
        </div>
    </div>

    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
            {{ app.user.username }}
        </a>
        <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="{{ path('user_profile') }}">
                {{ 'navbar.profile'|trans }}
            </a>
            <a class="navbar-item" href="{{ path('logout') }}">
                {{ 'navbar.logout'|trans }}
            </a>
        </div>
    </div>
{% else %}
    <a href="{{ path('login') }}" class="navbar-item navbar-action bold">
        {{ 'navbar.login'|trans }}
    </a>
    <p class="navbar-item navbar-action">{{ 'generic.or'|trans }}</p>
    <a href="{{ path('registration') }}" class="navbar-item navbar-action bold">
        {{ 'navbar.signin'|trans }}
    </a>
{% endif %}
