{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="field">
        {{ form_label(form.username, 'Identifiant', {'label_attr': {'class': 'label has-text-left'}}) }}
        <div class="control has-icons-left">
            {{ form_widget(form.username, {'attr': {'class': 'input'}}) }}
            <span class="icon is-small is-right">
            <i class="fa fa-user" aria-hidden="true"></i>
            </span>
        </div>
    </div>

    <div class="field">
        {{ form_label(form.password, 'Mot de passe', {'label_attr': {'class': 'label has-text-left'}}) }}
        <div class="control has-icons-left">
            {{ form_widget(form.password, {'attr': {'class': 'input'}}) }}
            <span class="icon is-small is-right">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>
    </div>

    <button type="submit" class="button is-primary">Connexion</button>
{{ form_end(form) }}
