{% extends 'backoffice/layout-backoffice.html.twig' %}

{% block body %}
    <div class="section mt-30">
        <div class="columns">
            <div class="column has-text-centered">
                <div class="box stats-card has-background-info">
                    <i class="fa fa-file-o fa-8x is-block mb-5 has-text-light" aria-hidden="true"></i>
                    <span class="has-text-weight-bold is-size-3 has-text-light">
                        {{ countArticles }} {{ countArticles <= 1 ? 'backoffice.dashboard.article'|trans : 'backoffice.dashboard.articles'|trans }}
                    </span>
                </div>
            </div>

            <div class="column has-text-centered">
                <div class="box stats-card has-background-danger">
                    <i class="fa fa-comments fa-8x is-block mb-5 has-text-light" aria-hidden="true"></i>
                    <span class="has-text-weight-bold is-size-3 has-text-light">
                        {{ countComments }} {{ countComments <= 1 ? 'backoffice.dashboard.comment'|trans : 'backoffice.dashboard.comments'|trans }}
                    </span>
                </div>
            </div>

            <div class="column has-text-centered">
                <div class="box stats-card has-background-warning">
                    <i class="fa fa-user-o fa-8x is-block mb-5 has-text-light" aria-hidden="true"></i>
                    <span class="has-text-weight-bold is-size-3 has-text-light">
                        {{ countUsers }} {{ countUsers <= 1 ? 'backoffice.dashboard.user'|trans : 'backoffice.dashboard.users'|trans }}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
