{% extends 'blog/layout-blog.html.twig' %}


{% block body %}

    {% if article.image is not null %}
        <img src="{{ asset(image_article_coverage_display ~ article.image.alt) }}" alt="{{ article.image.alt }}">
    {% endif %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
    <hr>

    <h3>{{ countComment }} {{ countComment <= 1 ? 'Commentaire' : 'Commentaires' }}</h3>
    {% for comment in comments %}
        <strong>Par : {{ comment.username }}</strong>
        <p>{{ comment.content }}</p>
    {% endfor %}


    <h3>Postez un commentaire</h3>
    {% include 'blog/article/comment.html.twig' %}

{% endblock %}

