{% extends 'blog/layout-blog.html.twig' %}

{% block body %}
    {% if articles is not empty %}
        {% for article in articles %}
            <div class="card mt-30">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ article.title }}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{ article.content|truncate(50) }}
                        <br>
                        <time datetime="2016-1-1">{{ article.createAt|date("d/m/Y") }}</time>
                        {{ 'generic.by'|trans }} {{ article.author.username }}
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="{{ path('article_show', {'slug': article.slug}) }}" class="card-footer-item is-primary">
                        {{ 'home.read_more'|trans }}
                    </a>
                </footer>
            </div>
        {% endfor %}

        {% include 'paginator/paginator.html.twig' %}
    {% else %}
        <div class="has-text-centered">
            <h1 class="title is-4">{{ 'home.no_article'|trans }}</h1>
        </div>
    {% endif %}
{% endblock %}
