{% extends 'backoffice/layout-backoffice.html.twig' %}
{% block body %}
    {% set titlePage = 'AJOUTER UN ARTICLE' %}

    <div class="section">
        <div class="title-tab">
            <h2 class="title is-3">{{ titlePage }}</h2>
        </div>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <span class="form-part">Actualité</span>
        <div class="field">
            {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'label'}}) }}
            <div class="control">
                {{ form_widget(form.title, {'attr': {'class': 'input'}}) }}
            </div>
            {{ form_errors(form.title) }}
        </div>

        <div class="field">
            {{ form_label(form.content, 'Contenu', {'label_attr': {'class': 'label'}}) }}
            <div class="control">
                {{ form_widget(form.content, {'attr': {'class': 'textarea'}}) }}
            </div>
            {{ form_errors(form.content) }}
        </div>

        <div class="field">
            {{ form_label(form.tags, 'Tags', {'label_attr': {'class': 'label'}}) }}
            <div class="control">
                {{ form_widget(form.tags, {'attr': {'class': 'hidden-tag-input'}}) }}
                <div class="tags">
                    <input type="text" class="tag-input" placeholder="Ajouter un tag">
                </div>
            </div>
            {{ form_errors(form.tags) }}
            <i>Séparez vos tags par une virgule</i>
        </div>

        <span class="form-part">Médias</span>

        <div class="field">
            <div class="file has-name">
                <label class="file-label">
                    {{ form_widget(form.image, {'attr': {'class': 'file-input coverage-input', 'name': 'resume'}}) }}
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fa fa-upload"></i>
                        </span>
                        <span class="file-label">Image de couverture...</span>
                    </span>
                    <span id="coverage-name" class="file-name">Aucun fichier</span>
                </label>
                {{ form_errors(form.image) }}
            </div>
        </div>

        {{ form_rest(form) }}

        <div class="control">
            <input type="submit" class="button is-primary">
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
