{% extends 'backoffice/layout-backoffice.html.twig' %}

{% block body %}
    {% set titlePage = 'backoffice.articles.edit.title'|trans %}

    <div class="section">
        <div class="title-tab">
            <h2 class="title is-3">{{ titlePage }}</h2>
        </div>

        {% include 'flashMessage/flashMessage.html.twig' %}

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <span class="form-part">{{ 'backoffice.articles.add_edit_form.actuality'|trans }}</span>

        <div class="field">
            {{ form_label(form.title, 'backoffice.articles.add_edit_form.article_title'|trans, {'label_attr': {'class': 'label'}}) }}
            <div class="control">
                {{ form_widget(form.title, {'attr': {'class': 'input'}}) }}
            </div>
            <div class="help is-danger has-text-left">
                {{ form_errors(form.title) }}
            </div>
        </div>

        <div class="field">
            {{ form_label(form.content, 'backoffice.articles.add_edit_form.article_content'|trans, {'label_attr': {'class': 'label'}}) }}
            <div class="control">
                {{ form_widget(form.content, {'attr': {'class': 'textarea'}}) }}
            </div>
            <div class="help is-danger has-text-left">
                {{ form_errors(form.content) }}
            </div>
        </div>

        <div class="field">
            {{ form_label(form.tags, 'backoffice.articles.add_edit_form.article_tags'|trans, {'label_attr': {'class': 'label'}}) }}
            <div class="control">
                {{ form_widget(form.tags, {'attr': {'class': 'hidden-tag-input'}}) }}
            </div>
            <div class="tags">
                {% if article.tags is not null %}
                    {% for tag in article.tags %}
                        <div class='tag'>{{ tag.name }}<i class='fa fa-times tag-remove' aria-hidden='true'></i>
                        </div>
                    {% endfor %}
                {% endif %}
                <input type="text" class="tag-input" placeholder="Ajouter un tag">
            </div>
            {{ form_errors(form.tags) }}
            <i>{{ 'backoffice.articles.add_edit_form.article_tags_helper'|trans }}</i>
        </div>

        <span class="form-part">{{ 'backoffice.articles.add_edit_form.article_media'|trans }}</span>

        <div class="field">
            {{ form_widget(form.image) }}
            <div class="help is-danger has-text-left">
                {{ form_errors(form.image) }}
            </div>
        </div>

        <div class="field">
            <h5 class="title is-5">{{ 'backoffice.articles.edit.cover_image'|trans }}</h5>
            {% if currentImage is not null %}
                <div class="img-coverage-container">
                    <img src="{{ asset(image_article_coverage_display ~ currentImage.alt) }}"
                         alt="{{ currentImage.alt }} "
                         class="img-thumbnail img-coverage" width="270" height="150">
                    <div class="overlay">
                        <span class="button is-danger delete-image"
                              data-trans="{{ 'backoffice.articles.edit.delete_cover_image_confirm'|trans }}">
                            {{ 'backoffice.articles.edit.delete_cover_image'|trans }}
                        </span>
                    </div>
                </div>
            {% else %}
                <i>{{ 'backoffice.articles.edit.no_cover_image'|trans }}</i>
            {% endif %}
        </div>

        {{ form_rest(form) }}

        <div class="control">
            <button type="submit" class="button is-primary">
                {{ 'backoffice.articles.add_edit_form.submit_button'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/delete-confirmation.js') }}"></script>
    <script src="{{ asset('build/js/tags.js') }}"></script>
{% endblock %}
