{% extends 'backoffice/layout-backoffice.html.twig' %}

{% block body %}
    {% set titlePage = 'backoffice.articles.list.title'|trans %}
    <div id="article-list" class="section">
        <div class="columns">
            <div class="column">
                <div class="title-tab">
                    <h2 class="title is-3">{{ titlePage }}</h2>
                </div>
            </div>
        </div>

        {% include 'flashMessage/flashMessage.html.twig' %}

        <hr>

        <div class="columns">
            <div class="column">
                <a class="button is-primary" href="{{ path('article_new') }}">
                    {{ 'backoffice.articles.list.new_article'|trans }}
                </a>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                {% if articles is not empty %}
                    <div class="table-container">
                        <table class="table">
                            <thead>
                            <th><abbr title="Titre">{{ 'backoffice.articles.list.article_title'|trans }}</abbr></th>
                            <th><abbr title="Auteur">{{ 'backoffice.articles.list.article_author'|trans }}</abbr></th>
                            <th><abbr title="Date poste">{{ 'backoffice.articles.list.article_posted_at'|trans }}</abbr></th>
                            <th><abbr title="Commentaire">{{ 'backoffice.articles.list.article_comment'|trans }}</abbr></th>
                            <th><abbr title="Actions">{{ 'backoffice.articles.list.articlr_action'|trans }}</abbr></th>
                            </thead>

                            <tbody>
                            {% for article in articles %}
                                <tr>
                                    <td>{{ article.title }}</td>
                                    <td>{{ article.author.username }}</td>
                                    <td>{{ article.createAt|date("d/m/Y") }}</td>
                                    <td>{{ article.comments.count }}</td>
                                    <td>
                                        <a href="{{ path('article_show', {'slug': article.slug}) }}"
                                           class="button is-primary">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                        <a href="{{ path('article_edit', {'slug': article.slug}) }}"
                                           class="button is-warning">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a href="{{ path('article_delete', {'slug': article.slug}) }}"
                                           class="button is-danger delete-article"
                                        data-trans="{{ 'backoffice.articles.list.deleted_confirm'|trans }}">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <i>{{ 'backoffice.articles.list.no_article'|trans }}</i>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
     {{ parent() }}
    <script src="{{ asset('build/js/delete-confirmation.js') }}"></script>
{% endblock %}
