{% extends 'backoffice/layout-backoffice.html.twig' %}
{% block body %}
    {% set titlePage = 'Ajouter un article' %}

    <div class="col-lg-10 bg-grey ml-md-auto form-padding">
        <div class="form-content">
            <h2>{{ titlePage }}</h2>

            {{ form_start(form) }}
            {{ form_errors(form) }}


            <span class="form-part">Actualité</span>
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.title) }}
            </div>

            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.content) }}
            </div>

            <div class="form-group">
                {{ form_label(form.tags) }}
                {{ form_widget(form.tags, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.tags) }}
            </div>

            <span class="form-part">Médias</span>

            <div class="form-group">
                {{ form_label(form.image) }}
                {{ form_widget(form.image, {'attr': {'class': 'form-control-file'}}) }}
                <i>Format : jpg, png</i>
                {{ form_errors(form.image) }}
            </div>

            {{ form_rest(form) }}

            <input type="submit" class="btn btn-primary">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

